" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
set ideajoin

set ignorecase
set smartcase
set hlsearch
set wrapscan

set clipboard+=unnamed

nnoremap <C-l> :nohlsearch<CR><C-l>

" U to redo
nnoremap U <c-r>

" yank to end of lines
nnoremap Y y$

" i<space> and a<space> to select the word
onoremap i<space> iW
xnoremap i<space> iW

" {visual}p to put without yank to unnamed register
xnoremap p P

" x to delete the character under the cursor without yanking it
nnoremap x "_d
nnoremap X "_D
xnoremap x "_x
onoremap x d

" start searching with very magic
nnoremap / /\v
nnoremap ? /\V

" S to replace the word under the cursor
nnoremap S :%s/\V\<<C-r><C-w>\>//g<Left><Left>
xnoremap S "zy:%s/\V<C-r><C-r>=escape(@z,'/\')<CR>//gce<Left><Left><Left><Left>

