[push]
	default = simple
	autoSetupRemote = true

[color]
	ui = true

[core]
	excludesfile = ~/.gitignore_global
	autocrlf = false
	ignorecase = false
	quotepath = false
	safecrlf = true
	pager = diff-so-fancy | less --tabs=4 -RF
	editor = nvim

[alias]
	co = checkout
	br = branch
	ci = commit
	cm = commit -m
  cn = commit --no-verify
  cnm = commit --no-verify -m
	st = status -sb
	cp = cherry-pick
	sw = switch
	swc = switch -c
	rs = restore
	rss = restore --staged
	df = diff
	dfs = diff --staged
	dv = difftool -t vimdiff -y
	rv = remote -v
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
	last = log -1 HEAD
	se = !git rev-list --all | xargs git grep -F
	dmb = ! git branch --merged | grep -v \\* | grep -v -E '\\b(master|main|develop)\\b' | xargs -n 1 git branch -d

	retag = "!f() { \
		tag=\"$1\"; \
		if [ -z \"$tag\" ]; then \
			echo \"Usage: git retag <tag>\"; \
			return 1; \
		fi; \
		if ! git rev-parse --is-inside-work-tree >/dev/null 2>&1; then \
			echo \"Error: not inside a Git repository.\"; \
			return 1; \
		fi; \
		remote=\"origin\"; \
		if git show-ref --tags --quiet \"refs/tags/$tag\"; then \
			git tag -d \"$tag\"; \
		fi; \
		if git ls-remote --tags --quiet \"$remote\" \"refs/tags/$tag\" >/dev/null 2>&1; then \
			git push \"$remote\" \":refs/tags/$tag\"; \
		fi; \
		git tag \"$tag\"; \
		git push \"$remote\" \"$tag\"; \
	}; f"

    wt = worktree
    wtl = worktree list
    wta = worktree add
    wtr = worktree remove
    wtp = worktree prune

    # Create worktree directory and add branch
    wtab = "!f() { \
        repo_name=$(basename \"$(git rev-parse --show-toplevel)\"); \
        branch_name=\"$1\"; \
        worktree_dir=\"../${repo_name}-worktree/${branch_name}\"; \
        git worktree add -b \"$branch_name\" \"$worktree_dir\"; \
        echo \"Created worktree: $worktree_dir\"; \
        cd \"$worktree_dir\"; \
        if [ -f \"setup-project.sh\" ]; then \
            echo \"Running setup-project.sh...\"; \
            ./setup-project.sh; \
        fi; \
    }; f"
    
    # Add existing branch
    wtac = "!f() { \
        repo_name=$(basename \"$(git rev-parse --show-toplevel)\"); \
        branch_name=\"$1\"; \
        worktree_dir=\"../${repo_name}-worktree/${branch_name}\"; \
        git worktree add \"$worktree_dir\" origin/\"$branch_name\"; \
        echo \"Created worktree: $worktree_dir\"; \
        cd \"$worktree_dir\"; \
        if [ -f \"setup-project.sh\" ]; then \
            echo \"Running setup-project.sh...\"; \
            ./setup-project.sh; \
        fi; \
    }; f"

	# Remove worktree and branch
	wtd = "!f() { \
		repo_name=$(basename \"$(git rev-parse --show-toplevel)\"); \
		branch_name=\"$1\"; \
		worktree_dir=\"../${repo_name}-worktree/${branch_name}\"; \
		git worktree remove \"$worktree_dir\" && git branch -D \"$branch_name\"; \
		echo \"Removed worktree: $worktree_dir\"; \
	}; f"

[user]
	useConfigOnly = true
	email = kohii.tokyo@gmail.com
	name = kohii

[difftool]
    prompt = false

[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = git://github.com/

[ghq]
	root = ~/dev/src

[interactive]
	diffFilter = diff-so-fancy --patch

[pull]
	rebase = false

[branch "master"]
	mergeOptions = --ff-only

[branch "main"]
	mergeOptions = --ff-only

[branch "develop"]
	mergeOptions = --ff-only

[init]
	defaultBranch = main
